.link {
  text-decoration: none;
  width: 100px;
  border: none;
  background-color: teal;
  padding: 5px;
  color: white;
  border-radius: 10px;
  margin: 20px;
  padding: 15px;
}

.link:hover{
  color: white;
  opacity: 90%;
}
